<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>更改用户</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h3>更改用户</h3>
		<!-- 更新数据要用到id值，所以提交时把id值重新传过去 -->
		<form method="post" action="/gg/<%=data._id %>">
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control" placeholder="请填写用户名" name="name" value="<%=data.name %>">
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control" placeholder="请输入密码" name="password"
					value="<%=data.password %>">
			</div>
			<div class="form-group">
				<label>年龄</label>
				<input type="text" class="form-control" placeholder="请填写邮箱" name="age" value="<%=data.age %>">
			</div>
			<div class="form-group">
				<label>邮箱</label>
				<input type="email" class="form-control" placeholder="请填写邮箱" name="email" value="<%=data.email %>">
			</div>
			<div class="form-group">
				<label>请选择爱好</label>
				<div>
					<!-- 创建一个数组，用来保存所有的选项 -->
					<% const arr=["足球","篮球","橄榄球","敲代码","冲浪","喝酒","烫头"] %>
						<% arr.forEach( v=> { %>
							<!-- 拿数据库中的值与其进行比较 -->
							<% if(data.hobbies.includes(v)) { %>
								<label class="checkbox-inline">
									<!-- 如果存在，让其被勾选上 -->
									<input type="checkbox" value="<%=v %>" name="hobbies" checked>
									<%=v %>
								</label>
								<% }else{ %>
									<label class="checkbox-inline">
										<!-- 如果不存在，不勾选 -->
										<input type="checkbox" value="<%=v %>" name="hobbies">
										<%=v %>
									</label>
									<% } %>
										<% }) %>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">添加用户</button>
		</form>
	</div>
</body>

</html>